<!-- <div class="d-flex justify-content-center align-items-center">
  <div class="container d-flex justify-content-center align-items-center min-vh-50">
    <div class="col-md-6 right-box">
      <div class="row align-items-center-center">
          <div class="header-text- mb-4">
              <h4>Forgot password?</h4>
              <h1>We'll send you an email with 
              <br> instructions to reset it</h1>
          </div>
         
         <form [formGroup]="forgotpasswordForm" (ngSubmit)="navigateToUpdatePassword">
          <div class="label-text">
            <label for="">Email:</label>
          </div>
          <div class="val-msg-email">
            <span style="color: red;" *ngIf="email && email.invalid && email.touched">This input field is invalid</span>
          </div>
      
          <div>
           
          </div>
          <div class="input-group mb-3">
              <input type="email" class="form-control form-control bg-light fs-6 custom-height">
          </div>
         </form>

      <div class="input-group-lg mb-3">
          <button class="btn btn-lg btn-primary w-100 fs-6" [disabled]="forgotpasswordForm.invalid"  (click)="navigateToUpdatePassword()">Forgot Password</button>
      </div>
    </div>
  </div>
</div>

 -->


 <div class="d-flex justify-content-center align-items-center">
  <div class="container d-flex justify-content-center align-items-center min-vh-50">
    <div class="col-md-6 right-box">
      <div class="row align-items-center-center">
          <div class="header-text- mb-4">
              <h4>Forgot Password?</h4>
              <h1>We'll send you an email with instructions <br> to reset it.</h1>
          </div>
         
         <form [formGroup]="forgotpasswordForm" (ngSubmit)="forgotPassword()">
          <div class="label-text">
              <label for="">Email:</label>
              <div class="val-msg-email">
                  <span style="color: red;" *ngIf="email && email.invalid && email.touched">This input field is invalid</span>
                </div>
            </div>
            <div class="input-group mb-3">
                <input formControlName="email"  type="email" class="form-control form-control bg-light fs-6 custom-height">
            </div>
            
         </form>
      </div>
      <div class="input-group-lg mb-3">
          <button class="btn btn-lg btn-primary w-100 fs-6" [disabled]="forgotpasswordForm.invalid" (click)="navigateToUpdatePassword()">Forgot Password</button>
      </div>
    </div>
  </div>
</div>


