<div class="d-flex justify-content-center align-items-center">
  <div class="container d-flex justify-content-center align-items-center min-vh-50">
    <div class="col-md-6 right-box">
      <div class="row align-items-center-center">
          <div class="header-text- mb-4">
              <h4>Welcome!</h4>
              <h1>Enter your details to create an<br>account.</h1>
          </div>
          <form [formGroup]="registerForm" (ngSubmit)="register()">
            <div class="label-text">
              <label for="">Name:</label>
              <div class="name-val-msg">
                <span style="color:red;" *ngIf="name && name.invalid && name.touched">This input field is invalid</span>
              </div>
            </div>
            
            <div class="input-group mb-3">
                <input formControlName="name" type="text" class="form-control form-control bg-light fs-6 custom-height">
            </div>
            

            <div class="label-text">
              <label for="">Email:</label>
            </div>
            <div class="email-val-msg">
              <span style="color:red;" *ngIf="email && email.invalid && email.touched">This input field is invalid</span>
            </div>
            <div class="input-group mb-3">
                <input formControlName="email" type="email" class="form-control form-control bg-light fs-6 custom-height">
            </div>
            
  
            <div class="label-text">
              <label for="">Password:</label>
            </div>
            <div class="password-val-msg">
              <span style="color:red;" *ngIf="password && password.invalid && password.touched">This input field is invalid</span>
            </div>   
            <div class="input-group mb-1">
                <input formControlName="password" type="password" class="form-control form-control bg-light fs-6 custom-height">
            </div>
           
          </form>

      <div class="input-group-lg mb-3 create-account">
          <button class="btn btn-lg btn-primary w-100 fs-6" [disabled]="registerForm.invalid" (click)="register()">Create Account</button>
      </div>

      <div class="row align-items-center-center center-btn-link">
          <small>Already have an account? <a href="#" routerLink="/register-page" (click)="navigateToLogin()"> Sign In</a></small>
      </div>
    </div>
  </div>
</div>
