.details{
    display: flex;
}

.details .input-group{
    margin:10px;
}

.action-btns{
    display: flex;
    justify-content: space-between;
}


.input-field-label{
    display: inline;
    padding: 10px;
}

.example-full-width{
    width:100%;
}


