<div mat-dialog-title>
    <h1>Edit your infor here</h1>
</div>
<div mat-dialog-content>
    <div class="details">
        <div class="input-group mb-3" class="input-field-label">
            <label for="">Sender Name</label>
            <input type="text" class="form-control form-control bg-light fs-6 custom-height">
        </div>
        <div class="input-group mb-3" class="input-field-label">
            <label for="">Physical Address</label> 
            <input  type="text" class="form-control form-control bg-light fs-6 custom-height">
        </div>
    </div>
    <div class="details">
        <div class="input-group mb-3" class="input-field-label">
            <label for="">Email</label>
            <input type="text" class="form-control form-control bg-light fs-6 custom-height">
        </div>
        <div class="input-group mb-3" class="input-field-label">
            <label for="">Mobile</label> 
            <input  type="text" class="form-control form-control bg-light fs-6 custom-height">
        </div>
     </div>
</div>
<div mat-dialog-actions class="action-btns">
    <button mat-raised-button>Cancel</button>
    <button mat-raised-button color="primary">Save</button>
</div>