<section id ="menu" class="menu">
    <div class="logo">
        
       <h3 class="pagae-title">Settings</h3>
    </div>
    <div class="items">
        <li><a href="#" routerLink="dashboard" (click) ="navigateToDashboard()" >DASHBOARD</a></li>
        <li><a href="#" routerLink="/lead" (click)="navigateToLeadPage()" >LEAD</a></li>
        <li><a href="#">DEAL</a></li>
        <li><a href="#">QUOTE</a></li>
        <li><a href="#" routerLink="/invoice" (click)="navigateToInvoicePage()">INVOICE</a></li>
        <li><a href="#" routerLink="/settings" (click)="navigateToSettingsPage()" >SETTIGS</a></li>
    </div>
    <div class="log-out-btn">
        <button (click)="openDialog()" mat-raised-button color="primary">LOGOUT</button>
    </div>
   
</section>

<section id="interface">
<div class="interface-container">

    <div class="settings-options">
        <div class="items">
            <li><a href="#" routerLink="/settings">General</a></li>
            <li><a href="#" routerLink="/lead-settings">Lead</a></li>
            <li><a href="#" routerLink="/deal-settings">Deal</a></li>
            <li (click)="toggleEstimateInvoice()">Estimate & Invoice </li>
            <div class="options-container-displayed" [ngClass]="{'show':showEstimateInvoiceOptions}">
                <ul class="show-more-options">
                    <li><a href="" routerLink="/common-settigs">Common</a></li>
                    <li><a href="" routerLink="/estimate-settings">Estimate</a></li>
                    <li><a href="" routerLink="/invoice-settings">Invoice</a></li>
                </ul>
            </div>
            <li><a href="#">Project</a></li>
            <li><a href="#" routerLink="/bank-settings">Payment</a></li>
            <li><a href="#">Email Template</a></li>
            <li><a href="#">Task & Activity</a></li>
            <li><a href="#">Tag</a></li>
            <li><a href="#">Custom Field</a></li>
            <li><a href="#">Integration</a></li>
        </div>
    </div>


    <div class="second-div">
        <h4 class="i-name">Payment Settings</h4>

        <div class="interface-sub-settings">
            <div class="bank-information">
            
                <div class="bank-icon">
                    <i class="fa-solid fa-building-columns"></i>
                </div>

                <div class="bank-infor-title">
                    <p>Bank Details</p>
                </div>

                <div class="bank-details-action">
                    <i class="fa-solid fa-pen-to-square"></i>
                    <i class="fa-solid fa-trash"></i>

                </div>

            </div>
          
        </div>
    
              
     <div class="details">
        <div class="save-info-btn">
            <button mat-raised-button color="primary" (click)="addBankDetails()">Add Bank Account </button>
        </div>
     </div>
    </div>
</div>

</section>
